<!DOCTYPE html>
<html lang='en'>

<head>
    <title>P1</title>
    <meta charset="utf-8">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src='script.js' defer></script>

    <style>
        [v-cloak] {
            display: none;
        }

        body {
            text-align: center;
            margin: auto;
            border: 3px solid blue;
        }
    </style>
</head>

<body>
    <h1>P1</h1>
    <div id='app' v-cloak>
        <!-- div for player shape -->
        <div>
            <!-- two way binding of playerChoice to vue instance -->
            <select v-model='playerChoice' autofocus>
                <!-- replace options with items in shapes array? -->
                <option v-for='shape in shapes'>{{ shape }}</option>
                <!-- <option value="rock">rock</option>
                <option value="paper">paper</option>
                <option value="scissors">scissors</option> -->
            </select>
            <!-- only displays if playerChoice is not null, evaluates as false when null -->
            <p v-if='playerChoice'>Player's choice: {{ playerChoice }}</p>
            <p v-else>Pick a shape to begin</p>
        </div>

        <!-- rendered on load but inline style of display:none until playerChoice is true -->
        <div v-show='playerChoice'>
            <button @click='pickShape'>Rock, paper, scissors says...</button>
            <!-- only displays if computerChoice is not null, evaluates as false when null -->
            <p v-if='computerChoice'>Computer's choice: {{ computerChoice }}</p>
            <!-- div for computer shape -->
        </div>

        <!-- using template html element since this doesn't need to rendered immediately on page load -->
        <template v-if='result'>
            <p v-if='result == "tie"'>It's a tie!</p>
            <p v-else-if='result == "win"'>You win!</p>
            <p v-else>You lost, boo!</p>
        </template>
    </div>
</body>

</html>