html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #d1ba7b;
}
footer {
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 20px
}

#logo {
    /* Actual width is 636; displaying at half-size for retina screens */
    width: 400px;
    border-radius: 50%; 
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    word-break: break-word;
  
}

.recipe {
    border-radius: 15px;
    border: 2px solid #eb7a34;
}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
}

.recipe-name {
    font-weight: bold;
    font-size: 2.0rem;
}

.recipe-thumb {
    width: 400px;
}

/* .topnavul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */

.topnavli {
    display: inline;
    padding: 5px;
    text-decoration: none;
    text-transform: capitalize;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}